@page
@model LibrarySystem.Pages.Library.Authors.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PublishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PublishedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.BookId">Edit</a> |
    <a asp-page="/Library/Authors/AuthorBooks" asp-route-id="@Model.Book.AuthorId">Back to List</a>
</div>
